%section#top
  =image_tag("top-logo.png", alt:'THE TOURNAMENT')
  %p
    =link_to "さっそく使ってみる（無料）", root_path, class: 'btn btn-danger btn-lg'

%section#about
  %h1.hide About
  .row
    %div.col-lg-4
      =image_tag("icon-1.png")
      %h2 大会結果をおしゃれな<br>トーナメント表に。
      %p
        ごちゃごちゃした汚いトーナメント表にさようなら。<br>
        THE TOURNAMENTなら、大会結果を簡単に<br>
        おしゃれなトーナメント表に出力することができます
    %div.col-lg-4
      =image_tag("icon-2.png")
      %h2 ソフト不要、<br>ブラウザだけで簡単操作。
      %p
        専用ソフトや専門的な知識は一切不要。<br>
        ブラウザでの簡単な操作だけで大会作成から<br>
        結果入力まですべての操作を行うことができます
    %div.col-lg-4
      =image_tag("icon-3.png")
      %h2 大会の進捗を<br>リアルタイムに共有。
      %p
        大会URLを参加者に共有すれば、更新されていく<br>
        トーナメント表をリアルタイムに共有可能。<br>
        またトーナメント表をブログやHPに埋め込むこともできます。

%section#examples
  %h1
    %span Examples
  .row
    .col-lg-1
    .col-lg-5#tournament-sample
    .col-lg-5
      %h2
        = link_to(tournament_path(1)) do
          AFC U-22選手権
          %small @オマーン
      %p
        AFC U-22アジアカップ（英: AFC U-22 Asian Cup）は、アジアサッカー連盟（AFC）が主催する、22歳以下のナショナルチームによるサッカーの大陸選手権大会である。 この大会は2年に1回開催され、第1回大会は2014年1月11日から1月26日（予選は2012年）に開催された。また2015年の第2回大会は、2016年のオリンピックにおける男子サッカーのアジア予選を兼ねる予定である。
      = link_to sanitize("<i class='icon icon-double-angle-right'></i>")+' この大会の詳細をみる', tournament_path(1), class: 'btn btn-primary'



%section#feature
  %h1
    %span Feature
  %p
    SuperBETAなのでまだまだほとんどの機能が開発中です。<br>
    要望の強い機能からがんばって開発しますので、希望があればお気軽にご連絡ください。
  .row
    .col-lg-2
      .thumbnail
        %h2 参加者の詳細登録
    .col-lg-2
      .thumbnail
        %h2 試合の詳細登録
    .col-lg-2
      .thumbnail
        %h2 ３位決定戦
    .col-lg-2
      .thumbnail
        %h2 リアルタイム共有
    .col-lg-2
      .thumbnail
        %h2 スマホ対応
    .col-lg-2
      .thumbnail
        %h2
          %span.label.label-warning NEW!
          シード設定
  .row
    .col-lg-2.tbd
      .thumbnail
        %h2 ブログ/HP埋め込み
    .col-lg-2.tbd
      .thumbnail
        %h2 Double Elimination
    .col-lg-2.tbd
      .thumbnail
        %h2 予選の実施
    .col-lg-2.tbd
      .thumbnail
        %h2 ブロック分け
    .col-lg-2.tbd
      .thumbnail
        %h2 各会場での同時更新
    .col-lg-2.tbd
      .thumbnail
        %h2 ページ分け表示

  .row
    .col-lg-2.tbd
      .thumbnail
        %h2 参加者の抽選
    .col-lg-2.tbd
      .thumbnail
        %h2 参加者リスト読み込み
    .col-lg-2.tbd
      .thumbnail
        %h2 大規模大会対応
    .col-lg-2.tbd
      .thumbnail
        %h2 総当たり形式　
    .col-lg-2.tbd
      .thumbnail
        %h2 　
    .col-lg-2.tbd
      .thumbnail
        %h2 　


%section#plan
  %h1
    %span Plan/Price
  %div.text-center
    %p
      %strong.text-danger 無料
    %p
      SuperBETAでの提供中は、すべての機能を無料でお使いいただけます。<br>
      （正式リリース後も無料のプランは提供する予定です）
    %p
      =link_to "さっそく使ってみる（無料）", root_path, class: 'btn btn-danger btn-lg'
    %p
      %small
        ※SuperBETAの期間中に作成されたデータについては、将来的に保持されない可能性があります。<br>
        なくしたくない大事な記録があれば、別途ご連絡いただければできるだけ対応いたします。

%section#faq
  %h1
    %span FAQ
  %p.text-center
    質問・ご要望などあればいつでもご連絡ください。<br>
    info[at]notsobad.jp
/
  %ul.list-group
    %li.list-group-item これはどういうサービスなんですか？
    %li.list-group-item THE TOURAMENTは、トーナメント形式の大会を簡単に管理し、きれいなトーナメント表を作成することができるサービスです。

    %li.list-group-item これはどういうサービスなんですか？
    %li.list-group-item THE TOURAMENTは、トーナメント形式の大会を簡単に管理し、きれいなトーナメント表を作成することができるサービスです。



