%section#top
  =image_tag("top-logo.png", alt:'THE TOURNAMENT')
  %p
    =link_to "さっそく使ってみる（無料）", "static_pages/index", class: 'btn btn-danger btn-lg'

%section#about
  %h1.hide About
  .row
    %div.col-lg-4
      =image_tag("icon-1.png")
      %h2 大会結果をおしゃれな<br>トーナメント表に。
      %p
        ごちゃごちゃした汚いトーナメント表にさようなら。<br>
        THE TOURNAMENTなら、大会結果を簡単に<br>
        おしゃれなトーナメント表に出力することができます
    %div.col-lg-4
      =image_tag("icon-2.png")
      %h2 ソフト不要、<br>ブラウザだけで簡単操作。
      %p
        専用ソフトや専門的な知識は一切不要。<br>
        ブラウザでの簡単な操作だけで大会作成から<br>
        結果入力まですべての操作を行うことができます
    %div.col-lg-4
      =image_tag("icon-3.png")
      %h2 大会の進捗を<br>リアルタイムに共有。
      %p
        大会URLを参加者に共有すれば、更新されていく<br>
        トーナメント表をリアルタイムに共有可能。<br>
        またトーナメント表をブログやHPに埋め込むこともできます。

%section#examples
  %h1
    %span Examples
  %p.text-center
    実際に作成したトーナメント表を随時追加していきます。
/
  .row
    .col-lg-3
      .thumbnail
        =image_tag("example-1.png")
        .caption
          %h3 Thumbnail label
          %p ...
          %p
            %a(href="#" class="btn btn-primary" role="button") Button
            %a(href="#" class="btn btn-default" role="button") Button
    .col-lg-3
      .thumbnail
        =image_tag("example-2.png")
        .caption
          %h3 Thumbnail label
          %p ...
          %p
            %a(href="#" class="btn btn-primary" role="button") Button
            %a(href="#" class="btn btn-default" role="button") Button
    .col-lg-3
      .thumbnail
        =image_tag("example-3.png")
        .caption
          %h3 Thumbnail label
          %p ...
          %p
            %a(href="#" class="btn btn-primary" role="button") Button
            %a(href="#" class="btn btn-default" role="button") Button
    .col-lg-3
      .thumbnail
        =image_tag("example-4.png")
        .caption
          %h3 Thumbnail label
          %p ...
          %p
            %a(href="#" class="btn btn-primary" role="button") Button
            %a(href="#" class="btn btn-default" role="button") Button


%section#feature
  %h1
    %span Feature
  %p
    SuperBETAなのでまだまだほとんどの機能が開発中です。<br>
    要望の強い機能からがんばって開発しますので、希望があればお気軽にご連絡ください。
  .row
    .col-lg-2
      .thumbnail
        %h2 参加者の詳細登録
    .col-lg-2
      .thumbnail
        %h2 試合の詳細登録
    .col-lg-2
      .thumbnail
        %h2
          %span.label.label-warning NEW!
          ３位決定戦
    .col-lg-2
      .thumbnail
        %h2 リアルタイム共有
    .col-lg-2
      .thumbnail
        %h2 スマホ対応
    .col-lg-2.tbd
      .thumbnail
        %h2 シード設定
  .row
    .col-lg-2.tbd
      .thumbnail
        %h2 ブログ/HP埋め込み
    .col-lg-2.tbd
      .thumbnail
        %h2 Double Elimination
    .col-lg-2.tbd
      .thumbnail
        %h2 予選の実施
    .col-lg-2.tbd
      .thumbnail
        %h2 ブロック分け
    .col-lg-2.tbd
      .thumbnail
        %h2 各会場での同時更新
    .col-lg-2.tbd
      .thumbnail
        %h2 ページ分け表示

  .row
    .col-lg-2.tbd
      .thumbnail
        %h2 参加者の抽選
    .col-lg-2.tbd
      .thumbnail
        %h2 参加者リスト読み込み
    .col-lg-2.tbd
      .thumbnail
        %h2 大規模大会対応
    .col-lg-2.tbd
      .thumbnail
        %h2 総当たり形式　
    .col-lg-2.tbd
      .thumbnail
        %h2 　
    .col-lg-2.tbd
      .thumbnail
        %h2 　


%section#plan
  %h1
    %span Plan/Price
  %div.text-center
    %p
      %strong.text-danger 無料
    %p
      SuperBETAでの提供中は、すべての機能を無料でお使いいただけます。<br>
      （正式リリース後も無料のプランは提供する予定です）
    %p
      =link_to "さっそく使ってみる（無料）", "static_pages/index", class: 'btn btn-danger btn-lg'
    %p
      %small
        ※SuperBETAの期間中に作成されたデータについては、将来的に保持されない可能性があります。<br>
        なくしたくない大事な記録があれば、別途ご連絡いただければできるだけ対応いたします。

%section#faq
  %h1
    %span FAQ
  %p.text-center
    質問・ご要望などあればいつでもご連絡ください。<br>
    info[at]notsobad.jp
/
  %ul.list-group
    %li.list-group-item これはどういうサービスなんですか？
    %li.list-group-item THE TOURAMENTは、トーナメント形式の大会を簡単に管理し、きれいなトーナメント表を作成することができるサービスです。

    %li.list-group-item これはどういうサービスなんですか？
    %li.list-group-item THE TOURAMENTは、トーナメント形式の大会を簡単に管理し、きれいなトーナメント表を作成することができるサービスです。



