= content_for :page_title, '無料トーナメント作成枠を増やす'

.campaign-page
  %section
    %h1
      無料のトーナメント作成枠を増やす
    %br
    %p
      無料プランで作成できるトーナメント数には制限がありますが、
      %br
      以下のオプションで無料作成枠を増やすことが可能です。
    %small
      ※後日有料プランに変更した場合でも、無料増枠した分はそのまま加算されます。
      %br
      （無料で3枠増加後に、LIGHTプランに加入 → 合計作成可能数13+10=23個）

  %section
    %table.table
      %thead
        %tr
          %th
          %th オプション
          %th 詳細
          %th(width="10%") 増枠数
          %th
      %tbody
        %tr
          %td
            %i.fa.fa-trophy.fa-3x
          %td
            %h4 はじめてのトーナメント完成
          %td
            8名以上のトーナメントを作成し、最後まで完成させてください。
            全参加者/チームの名前が入力されており、優勝者が決定するまで試合結果が登録されていることが条件です。
          %td.text-center 2
          %td
            %a.btn.btn-primary(href="http://goo.gl/forms/hNtXMYsbV5r5irhp1" target="_blank")
              申請する
        %tr
          %td
            %i.fa.fa-twitter.fa-3x
          %td
            %h4 Twitter/Facebookシェア
          %td
            じぶんで作成したトーナメントを、TwitterもしくはFacebookでシェアしてください。
            （Twitter/Facebook両方で1回ずつ申請可能です）
          %td.text-center 各2（合計4）
          %td
            %a.btn.btn-primary(href="http://goo.gl/forms/hNtXMYsbV5r5irhp1" target="_blank")
              申請する
        %tr
          %td
            %i.fa.fa-link.fa-3x
          %td
            %h4 ブログ/HP埋め込み
          %td
            じぶんで作成したトーナメントを、ブログもしくはHPに埋め込んでください。
            %strong.text-danger
              トーナメントごとに何回でも申請可能なので、ずっと無料枠で利用しつづけることも可能です。
          %td.text-center 初回:3 （次回以降:1）
          %td
            %a.btn.btn-primary(href="http://goo.gl/forms/hNtXMYsbV5r5irhp1" target="_blank")
              申請する
        %tr
          %td
            %i.fa.fa-university.fa-3x
          %td
            %h4 パートナー制度
          %td
            自治体・学校など公益性の高い団体や、新聞・ニュースサイトなどのメディア企業さま向けに
            無料で大きなサイズのトーナメントをご提供する「トーナメントスポンサー制度」がございます。
          %td.text-center -
          %td
            お問い合わせください
