%div
  %ol.breadcrumb
    %li
      =link_to 'HOME', root_path
    %li
      =link_to 'THE TOURNAMENTの使い方', "howto"

%section
  %h1.headline
    %i.icon.icon-question-sign
    THE TOURNAMENTの使い方

  %section
    %h2.headline ユーザー登録する
    %p
      トーナメントの作成には無料のユーザー登録が必要です。
      %br
      （他の人が作成したトーナメントを閲覧するだけならアカウントは必要ありません）。
    %p
      画面右の「ユーザー登録」ボタンをクリックして、メールアドレスとパスワードを登録してください。

  %section
    %h2.headline トーナメントを作成する
    %p
      さっそくトーナメントを作成する場合は、画面右の「大会の新規作成」ボタンをクリックしてください。
      %br
      まずは大会名などの基本情報を入力します。星印のついた項目は必須入力です。
    %ul
      %li 
        「参加者数」・・・用意された人数から選択します。
        人数が選択肢の数とぴったり同じでない場合、実際に参加する人数より少し大きい数字を選んでください。
        （３人の場合は「４」、９人の場合は「１６」を選択）
        %br
        ※参加者数は後から変更できないので、人数が増えて変更したい場合などは大会を削除して再度作りなおしてください。
      %li 
        「敗者復活戦」・・・デフォルトでは通常のノックアウト方式（シングルエリミネーション）が選択されています。
        %br
        ダブルエリミネーション（敗者復活戦あり）方式で行う場合のみ変更してください。後から変更することはできません。
    %p
      基本情報を入力して保存すると、作成した大会のページが表示されます。
      %br
      大会ページには、「トーナメント表」「対戦表」「メンバー表」「大会の基本情報」の４つのタブがあります。
      %br
      最初に設定した大会の基本情報を編集する場合は「大会の基本情報」を選択してください。
      %br
      ただし大会の参加者数、敗者復活戦のありなしは変更できません。

    %p
      それではこれからは実際に作成した大会の結果などを入力していきます。

  %section
    %h2.headline 参加者情報を登録する
    %p
      まずは大会の参加者・チームの情報を設定します。大会ページから「メンバー表」と表示されているタブをクリックしてください。
    %p
      デフォルトでは設定した参加者数に応じてPlayer1から仮の名前が登録されています。
      %br
      名前だけ簡単に設定したい場合は、この画面で直接すべての参加者の名前を編集し、一番下の「Update」ボタンを押してください。
    %p
      各参加者名の右にある「詳細」ボタンをクリックすると、所属や国などの詳細情報を編集することもできます。
      %br
      詳細画面で「国」を選択すると、トーナメント表・対戦表で国旗のアイコンが表示されるようになります。国際大会などで活用してみてください。
    %p
      参加者数が中途半端な場合、1回戦が不戦勝になるシード選手を設定することができます。
      %br
      メンバー表の選手一覧画面で、シードにしたい参加者の相手を空欄にして保存してください。
      %br
      現時点では試合の対戦カードを両方空欄にすることはできません。2回戦以上のシードは要望があれば対応しますので運営までご連絡ください。

  %section
    %h2.headline 試合結果を登録する
    %p
      次に各試合の結果を入力します。大会ページから「対戦表」と表示されているタブをクリックしてください。
    %p
      現在編集が可能な試合に「編集」ボタンが表示されています。結果を入力したい試合の経集ボタンをクリックしてください。
      %br
      ※まだ対戦カードが決まっていない試合は編集ボタンが表示されません。
    %p
      それぞれの参加者のスコアを入力してください。スコアに応じて自動的に勝敗を判定します。
      %br
      勝者にトロフィー、敗者にバツマークが表示されるので、問題なければ「Update」ボタンで試合結果を保存してください。
    %p
      スコアが同点の場合、手動で勝者を選択するボックスが入力可能になるのでそこから勝者を選択して「Update」ボタンを押してください。
      %br
      手動選択後にスコアを変更した場合、手動選択はリセットされます。
    %p
      現時点では将棋やチェスなどのようにスコアがないゲームには対応していません。スコアは「0-0」として手動で勝者を選択してください。
      %br
      ※要望が多ければスコアなしゲームにも対応しますので運営までご連絡ください。
      %br
      また大会が進んでから過去の試合の勝者を変更した場合、トーナメントに不整合が起きないようにそれ以降の試合はリセットされます。
    
  %section
    %h2.headline トーナメント表を確認する
    %p
      入力した情報が正しくトーナメント表に反映されていることを確認します。大会ページの「トーナメント表」と表示されているタブをクリックしてください。
    %p
      これまでの入力情報に応じてトーナメント表が表示されます。※この画面では情報を編集することはできません。
      %br
      またトーナメントの各試合にマウスオーバーすると試合の情報が表示されます。
    %p
      試合結果などが最後まで入力されていなくても、途中までの入力情報に応じてトーナメントは表示されます。
    %p
      大会運営中にこのページでリアルタイムに結果を共有することもできますので、ぜひ大会運営にも活用してみてください。


    

    

