<h1>特定商取引法に基づく表示<br><small>Act on Specified Commercial Transactions</small></h1>
<br>
<br>
1.事業者の名称：<br>
　NOT SO BAD<br>
<br>
<br>
2.代表者または通信販売に関する業務の責任者の氏名：<br>
　大西智道<br>
<br>
<br>
3.住所：<br>
　東京都豊島区西池袋3-15-6<br>
<br>
<br>
4.電話番号：<br>
　050-3596-7724<br>
<br>
<br>
5.メールアドレス：<br>
　info[at]notsobad.jp<br>
<br>
<br>
6.商品の販売価格・サービスの対価：<br>
　各商品・サービスのご購入ページにて表示する価格<br>
<br>
<br>
7.対価以外に必要となる費用：<br>
　なし<br>
　※ただし、インターネット接続料金その他の電気通信回線の通信に関する費用はお客様にて別途ご用意いただく必要があります（金額は、お客様が契約した各事業者が定める通り）。<br>
<br>
<br>
8.代金の支払時期：<br>
　利用規約に定める<br>
<br>
<br>
9.支払方法：<br>
　クレジット決済、paypal<br>
<br>
<br>
10.商品引渡しまたはサービス提供の時期：<br>
　代金決済手続きの完了確認後直ちに<br>
<br>
<br>
11.返品・キャンセルに関する特約：<br>
　本サイトで販売する商品・サービスについては、購入手続き完了後の返品またはキャンセルをお受けいたしません。なお、商品・サービスに瑕疵がある場合は、利用規約の定めに従って対応します。<br>
　商品がソフトウェアの場合、動作環境及び必要スペックはご購入ページで表示しています。<br>
　特別な販売条件または提供条件がある商品またはサービスについては、各商品またはサービスの購入ページにおいて条件を表示します。<br>
<br>
<br>
