= simple_form_for @user, html: {class: 'form-horizontal'} do |f|
  = f.input :email, disabled: true
  .col-sm-offset-2
    = f.input :email_subscription, as: :boolean, inline_label: t("simple_form.inline_labels.user.email_subscription"), label: false

  .form-group
    .col-sm-6.col-sm-offset-2
      = f.button :submit, class: 'btn-danger'
  .form-group
    .col-sm-6.col-sm-offset-2
      =link_to t('cancel'), user_path(@user)
