=link_to sanitize('<i class="icon-reply"></i> ') + 'HOMEに戻る', root_path, class: 'btn btn-default'
%section
  %h1.title.clearfix 大会をさがす


%section
  %h1.headline
    - if params[:q].present?
      %i.icon.icon-search
      "#{params[:q]}"の検索結果
    - else
      %i.icon.icon-bell-alt
      すべてのトーナメント
  .list-group
    - if @tournaments.blank?
      .list-group-item No Tournament was found for "#{params[:q]}".
    - @tournaments.each do |tournament|
      =link_to tournament_path(tournament), class: 'list-group-item clearfix' do
        - if tournament.id == 1
          %span.label.label-warning サッカー
        - elsif tournament.id == 4
          %span.label.label-default その他
        - else
          %span.label.label-info ボードゲーム
        %span.list-group-item-heading
          = tournament.title
          %i.icon.icon-angle-right.pull-right
        %small (2014.3.12)
