= content_for :page_title, "新規トーナメントの作成"

=link_to sanitize('<i class="icon-reply"></i> ') + 'HOMEに戻る', root_path, class: 'btn btn-default'

%section
  %h1.title.clearfix
    = t :create_new_tournament

%section
  %h1.headline
    %i.icon.icon-cog
    = t :basic_info
  = render :partial => "form"
