= content_for :page_title, "新規トーナメントの作成"

=link_to sanitize('<i class="icon-reply"></i> ') + 'HOMEに戻る', root_path, class: 'btn btn-default'

%section
  %h1.title.clearfix New Tournament

%section
  %h1.headline
    %i.icon.icon-cog
    トーナメント情報の新規登録
  = render :partial => "form"
