= content_for :page_title, @tournament.title
= content_for :keywords, @tournament.title

= render partial: "shared/tournament_info", locals: {tournament:@tournament, active:1}

%section
  %h1.headline
    %i.icon.icon-trophy
    トーナメント表
  .clearfix
    #tournament.col-lg-12
