= render partial: "shared/tournament_info", locals: {tournament:@tournament, active:2}

%section
  %h1.headline
    %i.icon.icon-list-alt
    対戦表
  - editable = (current_user == @tournament.user) ? true : false
  = render partial: "shared/game_list", locals: {tournament: @tournament, editable: editable}

