=link_to sanitize('<i class="icon-reply"></i> ') + '大会トップへ戻る', tournament_path(@tournament), class: 'btn btn-default'

%section
  %h1.title.clearfix
    =@tournament.title
    %small @#{@tournament.place}

%section
  %h1.headline
    %i.icon.icon-list-alt
    試合結果の更新
  = render partial: "layouts/game_list", locals: {tournament: @tournament, editable: true}

