=link_to sanitize('<i class="icon-reply"></i> ') + '大会トップへ戻る', tournament_path(@tournament), class: 'btn btn-default'

%section
  %h1.title.clearfix
    =@tournament.title
    %small @#{@tournament.place}

%section
  %h1.headline
    %i.icon.icon-group
    参加者情報の更新

  %ul.list-group
    - @tournament.players.order(seed: :asc).each do |player|
      %li.list-group-item.clearfix
        = player.name
        = link_to t('Edit'), edit_player_path(player), class: 'btn btn-primary btn-sm pull-right'
