=link_to sanitize('<i class="icon-reply"></i> ') + '大会トップへ戻る', tournament_path(@tournament), class: 'btn btn-default'

%section
  %h1.title.clearfix
    =@tournament.title
    %small @#{@tournament.place}

%section#member-list
  %h1.headline
    %i.icon.icon-group
    参加者一覧
    -# =link_to sanitize('<i class="icon icon-paper-clip"></i> ')+'CSVアップロード', '#', class: 'btn btn-warning btn-sm pull-right'
  = render partial: "layouts/member_list", locals: {tournament: @tournament, editable: true}
