/*****************************************************************
* Common
*****************************************************************/
// $WET-ASPHALT: #34495E;
$WET-ASPHALT: #2D3E4F;
$ALIZARIN: #E74C3C;
$POMEGRANATE: #C0392B;
$TURQUOISE: #1ABC9C;
$SUN-FLOWER: #F1C40F;
$PUMPKIN: #d35400;
$ORANGE: #f39c12;
$CLOUDS: #ECF0F1;
$GREEN-SEA: #16A085;
$WHITE-SMOKE: #f5f5f5;

$screen-xs-max: 480px;
$screen-sm-min: 481px;
$screen-sm-max: 750px;
$screen-md-min: 751px;

/* font */
* {
  font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  h1, h2, h3, h4, h5, h6 { font-weight: lighter; }
}

@mixin stripes {
  background-color: #eee;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #ffffff), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #ffffff),color-stop(.75, #ffffff), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 8px 8px;
}

section { margin-bottom: 30px; }
.mb-30 { margin-bottom: 30px; }


/* Bootstrap modification */
input[type="checkbox"] {
  box-shadow: none;
  -webkit-box-shadow: none;
  width: auto;
  &.form-control {
    height: auto;
    &:focus {
     border-color: transparent;
     box-shadow: none;
     -webkit-box-shadow: none;
    }
  }
}
#carousel {
  border-radius: 5px;
  overflow: hidden;
}
.no-underline, .no-underline:hover {
  text-decoration: none;
}
.tooltip { width: 180px; }
.navbar-collapse.collapse { padding-right: 0; }
.navbar-nav.navbar-right:last-child { margin-right: -7px; } /* デフォルトで-15pxになってるのを調整 */
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { 
  margin-right: 0;
  margin-left: 0;
}
.text-hide { margin: 0; }

/* Tags Input modification */
div.tagsinput {
  width: 100%;
  height: auto;
}
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.fa { margin-right: 5px; }

/*****************************************************************
* Navbar
*****************************************************************/
.navbar {
  border: 0px;
  & > .container {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
}
.navbar-default .navbar-brand {
  padding: 15px 30px;
  margin-right: 15px;
  background: #333;
  img { height: 21px; }
  &:hover {
    background-color: #333;
    opacity: 0.9;
  }
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: $ORANGE;
  color: #fff;
}
.container > .navbar-header { margin: 0; }

/*****************************************************************
* About
*****************************************************************/
#about-page {
  .navbar { margin-bottom: 0; }
  & > .container {
    padding: 0;
    width: 100%;
    overflow: hidden;
    & > .row {
      margin-left: 0;
      margin-right: 0;
      & > .col-lg-12 {
        padding: 0;
      }
    }
  }
  section {
    margin-bottom: 120px;
    &:first-child {
      margin-bottom: 50px;
    }
  }

  h1 {
    line-height: 15px;
    margin-bottom: 50px;
    text-align: center;
    span {
      background: #fff;
      padding: 0 20px;
    }
    @include stripes;
  }

  #top {
    width: 100%;
    background: $WET-ASPHALT;
    text-align: center;
    padding: 150px 0 100px 0;
    color: #fff;
    font-size: 22px;
    img {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  #about {
    .col-lg-4 {
      text-align: center;
    }
  }

  #examples, #feature {
    .row {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  #feature {
    text-align: center;
    h2 {
      font-size: 16px;
      font-weight: bold;
    }
    .tbd { color: #ddd; }
  }

  #plan {
    strong { font-size: 24px; }
    p:last-child { margin-top: 30px; }
  }

  #faq {
    ul { margin: 30px; }
    .list-group-item:nth-child(2n+1) {
      background: #efefef;
      &:before {
        content: 'Q. ';
        font-size: 20px;
      }
    }
    .list-group-item:nth-child(2n) {
      &:before {
        content: 'A. ';
        font-size: 16px;
      }
    }
  }
}


/*****************************************************************
* Static#Top
*****************************************************************/
#top-banner {
  position: relative;
  div {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
}

/*****************************************************************
* Tournament#Show
*****************************************************************/
.title {
  font-size: 24px;
  padding: 7px 0;
  border-top: 4px solid #333;
  border-bottom: 4px solid #333;
  margin-bottom: 5px;
  small { line-height: 24px; }
}

.list-inline {
  padding-left: 5px;
  li { padding: 0; }
}

.bracket { background: #fff; }

#tournament, #tournament-sample {
  overflow: auto;
  .label {
    font-weight: normal;
    font-size: 100%;
    line-height: normal;
    color: #333;
    width: 76px;
    text-align: left;
    overflow: hidden;
  }
  .score {
    width: 26px;
    overflow: hidden;
  }
}

.headline {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

#game-list.table tr > td:first-child,
#member-list.table tr > td:first-child,
#member-list.table tr > th:first-child {
  border-right: 1px solid #efefef;
}
.width-4  { width: 4%; }
.width-8  { width: 8%; }
.width-10 { width: 10%; }
.width-30 { width: 30%; }
.width-40 { width: 40%; }
.width-50 { width: 50%; }


/*****************************************************************
* MemberList
*****************************************************************/
#member-list {
  .form-horizontal .form-group {
    margin: 0;
    .col-sm-6 { width: 100%; }
  }
}


/*****************************************************************
* Country Flag
*****************************************************************/
.flag-container {
  display: inline-block;
  vertical-align: middle;
  .flag {
    width: 16px;
    height: 14px;
    display: inline-block;
  }
}
span.flag, p.flag {
  padding-left: 20px;
}
.form-horizontal p.form-control-static.flag {
  padding-top: 0px;
  line-height: 16px;
  margin-top: 5px;
}



/*****************************************************************
* Campaign Page
*****************************************************************/
.campaign-page {
  h2 {
    line-height: 15px;
    margin: 50px 0;
    text-align: center;
    span {
      background: #fff;
      padding: 0 20px;
    }
    @include stripes;
  }
}


/*****************************************************************
* Footer
*****************************************************************/
footer {
  .well {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .black {
    background: #333;
    padding: 20px 0;
    color: #ccc;
    a { color: #fff; }
  }
  ul.list-inline { margin-bottom: 0; }
  .list-inline li {
    font-size: 12px;
    margin-right: 15px;
  }
}
/* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
#fb-root {
  display: none;
}
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

#like-button .fb_iframe_widget {
  width: 90px !important;
  top: -5px;
}


/*****************************************************************
* Embed
*****************************************************************/
body#embed { background: transparent; }
#emb-container { margin: 10px; }
#emb-header {
  background: #333;
  color: #fff;
  h1 {
    font-size: 14px; 
    margin: 0;
    padding: 5px;
    small { margin-left: 15px; }
  }
  a { color: #fff; }
}

#emb-body {
  background: #fff;
  padding-top: 10px;
  border: 1px dotted #333;
  #tournament { margin-bottom: 20px; }
  #emb-footer { margin-left: 10px; }
}

.download-btn {
  margin-right: 10px;
  margin-top: -5px;
}
