%footer.text-center.well
  .container
    .row
      .col-lg-12
        %div.mb-30
          .fb-like-box(data-href="https://www.facebook.com/the.tournament.jp" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true")
    %p &copy; THE TOURNAMENT  2014 All Rights Reserved.
