.panel.panel-default
  %table.table
    %tr
      %th 参加番号
      %th 名前(所属)
      %th
    - tournament.players.order(seed: :asc).each do |player|
      %tr
        %td= player.seed
        %td
          = player.name
          - if player.group.present?
            (#{player.group})
        %td
          - if editable
            = link_to '編集する', edit_player_path(player), class: 'btn btn-primary btn-sm pull-right'

