%meta(charset="utf-8")
%meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
%meta(name="viewport" content="width=device-width, initial-scale=1.0")

- if content_for?(:page_title)
  - set_meta_tags site: 'THE TOURNAMENT', title: yield(:page_title), reverse: true
- else
  - set_meta_tags title: t('metatags.title')
- set_meta_tags description: t('metatags.description')

- if I18n.locale == :ja
  - keywords = %w[THE\ TOURNAMENT ザ・トーナメント トーナメント表 作成 無料 エクセル]
  - set_meta_tags alternate: {en: url_for(locale:'en', only_path: false)}
- else
  - keywords = %w[THE\ TOURNAMENT tournament bracket generator maker free creator blank]
  - set_meta_tags alternate: {ja: url_for(locale:'ja', only_path: false)}

- if content_for?(:keywords)
  - keywords << yield(:keywords)

- set_meta_tags keywords: keywords

- if content_for?(:canonical)
  - set_meta_tags canonical: yield(:canonical)

:ruby
  og = {
    title: content_for?(:page_title) ? "#{yield(:page_title)} | THE TOURNAMENT" : t('metatags.title'),
    type: 'website',
    url: url_for(controller: '/static_pages', action: 'about', only_path: false),
    image: 'http://the-tournament.jp/assets/index-top.png',
    site_name: t('metatags.site_name'),
    description: t('metatags.description'),
    locale: (I18n.locale==:ja) ? 'ja_JP' : 'en_US'
  }
- set_meta_tags og: og

- set_meta_tags twitter: {card: "summary", site: "@tournament_jp"}

= display_meta_tags
