%meta(charset="utf-8")
%meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
%meta(name="viewport" content="width=device-width, initial-scale=1.0")

- if content_for?(:page_title)
  - set_meta_tags site: 'THE TOURNAMENT', title: yield(:page_title), reverse: true
- else
  - set_meta_tags title: '無料トーナメント作成サービス「THE TOURNAMENT(ザ・トーナメント)」'
- set_meta_tags description: "THE TOURNAMENT(ザ・トーナメント)は簡単・便利な無料のトーナメント表作成サービスです。"

- keywords = %w[THE\ TOURNAMENT ザ・トーナメント トーナメント表 作成 無料 エクセル]
- if content_for?(:keywords)
  - keywords << yield(:keywords)
- set_meta_tags keywords: keywords

- if content_for?(:canonical)
  - set_meta_tags canonical: yield(:canonical)

:ruby
  og = {
    title: content_for?(:page_title) ? "#{yield(:page_title)} | THE TOURNAMENT" : "無料トーナメント作成サービス「THE TOURNAMENT(ザ・トーナメント)」",
    type: 'website',
    url: about_url,
    image: 'http://the-tournament.jp/assets/index-top.png',
    site_name: 'THE TOURNAMENT(ザ・トーナメント)',
    description: "THE TOURNAMENTは簡単・便利な無料のトーナメント表作成サービスです。",
    locale: 'ja_JP'
  }
- set_meta_tags og: og

- set_meta_tags twitter: {card: "summary", site: "@tournament_jp"}

= display_meta_tags
